body {
width: 1000px;
margin: 100px; 
margin-top: 0px;
background-color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

#gauche {
    margin-right: 50px;
}

#couleur {
    background-color: #3d5683;
    padding: 15px;
}

#couleur img {
    max-width: 80%;
    height: auto;
    border-radius: 20%;
    padding-left: 1rem;
}

#bluebox {
    width: 14.5rem;
    height: 5rem;
    background-color: #3d5683;
    position: static;
    bottom: 15rem;
    padding: 10px;
}

h1 {
    border-bottom: #2e4164 solid 1px;
}

h3 {
    background-color: #2e4164;
    background: linear-gradient(to right, #2e4164, 50%, #3d5683);
    color: rgb(190, 190, 190);
    border-bottom: rgb(190, 190, 190) solid 1px;
    padding: 3px;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #3d5683;
}
h4 {
    color: gainsboro;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#couleur p {
    color: white;
}

#couleur li {
    color: white;
}

.niveaulangue {
    display: flex;
    justify-content: flex-start;
}

.cercles {
    background-color: lightgrey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0.5rem;
}

.cerclesbon {
    background-color: rgb(80, 158, 247);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0.5rem;
}

#profil {
    border-bottom: #2e4164 solid 1px;
}

#perso {
    padding: 5px;
}

#experience {
    border-bottom: #2e4164 solid 1px;
}
